*docx_media*
*.md.pdf
/chapters/02-background.md.pdf
*.ipynb_checkpoints*
*__pycache__*
/template/book.aux
/template/book.log
/template/book.out
/template/book.pdf
/template/book.toc
/template/book.tps
/tex/*.tex
/template/book.lof
/template/book.lot
*.lof
*.lot
/project/*.pdf
_site*
/.jekyll-cache*
*beam-Static 1*
*X.BAT
*PerformanceLog.txt
/_code/simple biped/simple_biped_generated.urdf
**/.jekyll-cache/**
**/outcmaes/**
/course-documents/*.pdf
/lectures/**/*.pdf
/assignments/*.pdf
